<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kerjapraktik.sistemske">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainKasir"></activity>
        <activity android:name=".logtransaksi" />
        <activity android:name=".Laporan_Wahana" />
        <activity android:name=".dashboard_wahana" />
        <activity android:name=".detail_pembayaran" />
        <activity android:name=".LanjutanPembayaran" />
        <activity android:name=".PembayaranOperator" />
        <activity android:name=".baca_rfid_operator" />
        <activity android:name=".Dashboard_captain" />
        <activity android:name=".DashboardOperator" />
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>